body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.navbar {
	width: 100%;
    background-color: white;
    font-size: 20px;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
	float: right;
}

li a {
	padding: 25px 16px;
	text-transform: uppercase;
	text-decoration: none;
    display: inline-block;
    color: black;
}

li a:hover:not(.active) {
	text-decoration: underline;
	color: blue;
}

li img {
	position: absolute;
	left: 10px;
}

.full-image-with-text {
    position: relative;
    color: white;
    font-size: large;
}

.image-text{
    position: absolute;
    bottom: 30%;
    left: 10%;
    width: 40%;
}

.image-text span{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 80px;
}

.img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.headline span{
    font-size: 100px;
    text-transform: none;
    font-weight: normal;
}

.headline p{
    font-size: 40px;
    margin-left: 40px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: normal;
}





.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    padding: 0% 10% 5% 10%;
    gap: 50px 50px;     
}


.box {
    border: 1px  gray;
    padding: 10px; 
    border-radius: 5px; 
    box-shadow: 2px 10px 15px grey;
} 


.box_text p {
    display: inline;
    padding-left: 5px;

} 

.box_text i {
    color: green;
} 


.box img{

    width: 100%;
    height: auto;
}

.heading{
    font-size: 30px;
    font-weight: bold;
}

.sub_text, .heading{
    font-size: 20px;
    font-weight: bold;
}

.text p{
    color: gray;
}

.btn-group button   {
    float: left;
    padding: 15px 20px; 
    border-radius: 5px;
    text-transform: uppercase;
}

.btn-group:after {
    content: "";
    clear: both;
    display: table;
}
  
.whislist button{
    width: 50%;
    color: gray;
    background-color: white;
    border-color: gray;
}

.basket button{
    color: white;
    width: 50%;
    background-color: rgb(33, 178, 226);
    border-color: none;
    box-shadow: 2px 10px 15px grey;
}

.contact{
    background-color: blue;
    width: 100%;
    height: auto;
    padding: 1px 0 ;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 1px;
    resize: none;
  }

  textarea {
    height: 300px;
  }

  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    width: 100%;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  
  .container {
    width: 50%;
    margin: 10% 25% ;
    color: white;

  }